<h1 mat-dialog-title>{{ data ? 'Edit Truck' : 'Add Truck' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Model</mat-label>
      <mat-select formControlName="model">
        <mat-option *ngFor="let option of modelOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('model')?.hasError('required')">
        Model is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Manufacturing Year</mat-label>
      <input matInput type="number" formControlName="manufacturingYear">
      <mat-error *ngIf="form.get('manufacturingYear')?.hasError('required')">
        Manufacturing Year is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Chassis Code (9 char)</mat-label>
      <input matInput formControlName="chassisCode">
      <mat-error *ngIf="form.get('chassisCode')?.hasError('required')">
        Chassis Code is required
      </mat-error>
      <mat-error *ngIf="form.get('chassisCode')?.hasError('pattern')">
        Chassis Code must be exactly 9 alphanumeric characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Color</mat-label>
      <input matInput formControlName="color">
      <mat-error *ngIf="form.get('color')?.hasError('required')">
        Color is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Manufacturing Plant</mat-label>
      <mat-select formControlName="manufacturingPlant">
        <mat-option *ngFor="let plant of plantOptions" [value]="plant">
          {{ plant }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('manufacturingPlant')?.hasError('required')">
        Manufacturing Plant is required
      </mat-error>
    </mat-form-field>
    
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">{{ data ? 'Update' : 'Save' }}</button>
</div>
